<<<<<<< HEAD
.imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
=======
.imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
>>>>>>> d7140aa98c3f1830a2584abd0abba5950d2a84bc
}